<div class="footer">

    <div class="container">
        <dl class="gamealert clear">
            <dt>健康游戏忠告：抵制不良游戏，拒绝盗版游戏；注意自我保护，谨防受骗上当；适度游戏益脑，沉迷游戏伤身；合理安排时间，享受健康生活。</dt>
        </dl>
    </div>
	<style>
        #box1{
			display: block;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
            line-height: 30px;
            background: #FF6600;
            color: #FFF;
            text-align: center;
			z-index:2;
		}
        #box1{
		text-align: center;
		}
        #box1 a{
		color:white;line-height: 30px;
		}

    </style>
    <div id="box1">
        <a href="http://101.132.97.108/ksnc/app/kszy_android.apk" target="_blank">
            下载凯撒庄园
        </a>
    </div>
</div>