<extend name="Public/login_base" />

<block name="content">

    <link href="__FILEADD__/content/css/style-login.css" rel="stylesheet" />
    <link href="__FILEADD__/content/css/popup-box.css" rel="stylesheet" />
    <script src="__FILEADD__/content/js/card.js"></script>

    <div class="height_80"></div>
    <div class="w3layouts">
        <!-- Sign up -->
        <div class="signin-agile">
            <h2>找回密码</h2>

            <label class="bar-w3-agile">  </label>

            <div  id="PassWordForm">

                {__TOKEN__}

                <input class="stretch" data-val="true" data-val-regex="手机号格式错误" data-val-regex-pattern="^1[0-9]{10}" required="" data-val-required="请填写手机号" id="Phone" maxlength="11" name="user" placeholder="请输入手机号"  type="text" value="" />

                <span class="field-validation-valid" data-valmsg-for="Phone" data-valmsg-replace="true"></span>

                <input class="stretch " data-val="true" data-val-required="请填写图片验证码" placeholder="图片验证码" id="VCode" required="" name="VCode" maxLength="4" type="text" value="" />

                <img src="{:U('User/verify')}" alt="验证码" class="verify" onClick="this.src=this.src+'?'+Math.random()" />

                <span class="field-validation-valid" data-valmsg-for="VCode" data-valmsg-replace="true"></span>

                <input class="stretch" data-val="true" data-val-regex="短信验证码错误"  placeholder="短信验证码" data-val-regex-pattern="\d{6}" required="" data-val-required="请填写短信验证码" id="MobileVCode" maxLength="6" name="code" placeholder="" type="text" value="" />

                <button class="no-left-border button-color-2 verify" type="button" onclick="GetSMSFindpass()" id="Sms">验证码</button>

                <input     style="border: 0 none; height: 0; margin: 0; padding: 0;; " disabled=disabled   type="text" value="" />
                <span class="field-validation-valid" data-valmsg-for="MobileVCode" data-valmsg-replace="true"></span>

                <span class="field-validation-valid" data-valmsg-for="Err" data-valmsg-replace="true"></span>

                <p class="p-12-whole">

                    <a class="a-1-whole" href="{:U('User/register')}">注册账户</a>

                    <a class="a-2-whole" href="{:U('User/login')}">登录</a>
                </p>

                <div class="clear"></div>
                <input type="hidden" value='' name="MobileVCodePost" id='MobileVCodePost'>

                <input type="submit" value="下一步" onclick="PreSubmit()">
            </div>

            <script type="text/javascript" src="__FILEADD__/content/js/md5.js"></script>

            <script type="text/javascript">			

                function PreSubmit() {

                    var Phone = $('#Phone').val();

                    if ( !isPhoneNum( Phone ) ) {
                        $("span[data-valmsg-for=Phone]").html("请填写正确的电话号码");
                        return false;
                    }else if(isPhoneNum(Phone)){
                        $("span[data-valmsg-for=Phone]").html(" ");
                    }

                    if( $("#MobileVCode").val() == '' ||  $('#MobileVCodePost').val()  != hex_md5( $('#Phone').val() + $('#MobileVCode').val() )){
                        $("span[data-valmsg-for=MobileVCode]").html("短信验证码有误，请重新输入或获取！");
                        $('#MobileVCode').focus();
                        return false;
                    }

                    var material = document.getElementById("PassWordForm");

                    var SonInput = material.getElementsByTagName("input");

                    var AjaxObj = new Object();

                    for(var i=0; i<SonInput.length; i++){
                        var _name = SonInput[i].name;
                        AjaxObj[_name] = SonInput[i].value;
                        SonInput[i].style.border = "0px solid #cccccc";
                        SonInput[i].readOnly = true;
                    }

                    $.post(
                            "{:U('User/retrievepassword')}",
                            {post:AjaxObj},
                            function(data){
                                if ( data.status == 0 ) {
                                    $("span[data-valmsg-for=MobileVCode]").html("短信验证码错误");
                                    return false;
                                }else if(data.status == 1){
                                    $("span[data-valmsg-for=MobileVCode]").html(" ");
                                    location.href = "{:U('User/showPassword')}?rand_num=" + data.rand_num;
                                }
                            },"json"
                    );

                }

            </script>


        </div>

        <!-- //Sign up -->
        <div class="clear"></div>
    </div>
    <div class="height_80"></div>



</block>




